@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-red: #dc2626;
  --primary-green: #16a34a;
}

body {
  margin: 0;
  min-height: 100vh;
}

.indicatorRed {
  @apply text-primary-red;
}

.indicatorGreen {
  @apply text-primary-green;
}
